.card {
	box-shadow: 0 5px 30px -12px rgba(0,0,0,0.7);
	display: inline-block;
	padding: 32px 0;
	border-radius: 4px;
	flex-basis: 450px;
	transition: all .2s ease-in;
	margin-bottom: 3rem;
	background-color: #fff;
	position: relative;
	margin-bottom: 4rem;

	&:hover {
		// transform: translate(0,-1px);
		transform: scale(1.02);
		transition: all .2s ease-in;
	}

	@include bp('md') {
		flex-flow: column nowrap;
		padding: 16px 0;
	}

	img {
		max-width: 336px;
		padding: 0 32px;

		@include bp('md') {
			padding: 0 16px;

			&:first-child {
				padding: 0 16px 16px;
			}
		}
	}
}
