.support {
	margin-top: 70px;
	color: $gray-700;
}

.support__intro {
	padding: 60px 0 0 0;
	text-align: center;
	background-color: $blue-5;
}

.support__h1 {
	color: #fff;
	position: relative;

	&:after {
		content: '';
		bottom: -10px;
		left: calc(50% - 75px);
		display: block;
		position: absolute;
		width: 150px;
		height: 3px;
		background-color: $blue-1;
	}
}

.support__tagline {
	font-size: 22px;
	color: $blue-1;
	padding: 0 16px;
}

.wave {
	width: 100%;
	height: 80px;
	fill: #fff;
	display: block;
	position: relative;
	top: 1px;
}

.support__portal {
	background-color: #fff;
	color: $gray-700;
	padding: 60px;

	@include bp('md') {
		padding: 30px 20px 60px;
	}
}

.support__portal__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;

	@include bp('md') {
		flex-flow: column nowrap;
	}
}

.support__portal__container-text {
	// flex-basis: 500px;
}

.support__portal__title {
	color: $gray-600;
}

.support__portal-img {
	max-width: 300px;
	margin-left: 50px;
	border: 1px solid #ddd;

	@include bp('md') {
		margin: 40px 0 0;
	}
}

.support__passwords {
	margin-top: 3rem;
	border-radius: 5px;
	padding: 20px;
	font-size: 12px;
	background-color: $gray-300;
	color: $gray-700;

	h3 {
		color: #000;
		margin-bottom: 1.5rem;
	}

	ul {
		margin-bottom: 0;
	}
}

.support__versions {
	padding: 60px;
	background-color: $blue-5;

	@include bp('md') {
		padding: 60px 20px;
	}

	h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 3rem;
	}

	h4 {
		color: $gray-600;
		font-weight: bold;
	}
}

.support__version-number {
	display: flex;
	justify-content: flex-start;

	> h4 {
		padding: 5px 10px;
		border-radius: 8px;
		background-color: $blue-5;
		color: #fff;
		cursor: pointer;
	}

	+ div {
		display: block;
		background-color: $gray-200;
		padding: 16px;
		margin-bottom: 20px;

		@include bp('md') {
			overflow-x: scroll;
		}

		&.hidden {
			display: none;
		}
	}
}

#Express {
	.support__version-number {
		+ div {
			background-color: #fff;
		}
	}
}

.support__versions__container {
	max-width: 900px;
	margin: 0 auto;
}







/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 16px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	overflow-x: scroll;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

table {
	width: 100%;
	background-color: $gray-200;

	@include bp('lg') {
		overflow-x: scroll;
	}

	tr:first-child {
		font-weight: bold;
	}

	td {
		padding: 10px 20px;
		vertical-align: middle;
	}
}
