.openviz {
	padding: 70px 0 0;
}

.openviz__hero {
	padding: 64px;
	background: url('/img/openviz-trans-3.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(45deg, rgba($orange-4, 1), rgba($orange-4, .7));
	}
}

.openviz__hero__container {
	max-width: 700px;
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}

.openviz__hero__text {

}

.openviz__hero__image {
	margin-left: 60px;
}

.openviz__specs {
	color: $gray-700;
	padding: 60px;
	background-color: $gray-300;

	@include bp('md') {
		padding: 60px 20px;
	}
}

.openviz__specs__title {
	color: $gray-600;
	text-align: center;
	margin-bottom: 3rem;
}

.openviz__specs__container {
	max-width: 900px;
	margin: 0 auto;
}

.openviz__table {
	#lbweird {
		background-color: #fff;
	}
	#lb {
		background-color: $gray-400;
	}
}


.openviz__overview__container {
	max-width: 1200px;
	margin: 64px auto;
	color: $gray-700;
	display: flex;
	justify-content: space-around;

	@include bp('md') {
		flex-flow: column nowrap;
		margin: 32px auto;
	}

	h2 {
		color: $gray-600;
	}
}

.openviz__overview__first,
.openviz__overview__second {
	flex-basis: 45%;
}

.openviz__divider {
	margin: 0 auto;
	display: block;
}
