.btn {
	display: inline-block;
	background-color: $red-4;
	border: 1px $red-3;
	color: #fff;
	border-radius: 6px;
	padding: 8px;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
		text-decoration: none;
		background-color: darken($red-4, 10%);
	}
}

.btn--m-left {
	margin-left: 16px;
}
