.btn {
	display: inline-block;
	background-color: $red-5;
	border: 1px $red-4;
	color: #fff;
	border-radius: 6px;
	padding: 8px;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
		text-decoration: none;
		background-color: darken($red-5, 10%);
	}
}

.btn--m-left {
	margin-left: 16px;
}

.btn--wide {
	display: block;
	margin: 3rem auto 0;
	max-width: 400px;
	text-align: center;
}
