.btn {
	display: inline-block;
	background-color: $red-5;
	border: 1px $red-4;
	color: #fff;
	border-radius: 6px;
	padding: 8px;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
		text-decoration: none;
		background-color: darken($red-5, 10%);
	}
}

.btn--m-left {
	margin-left: 16px;

	@include bp('md') {
		display: block;
		margin: 0 auto;
	}
}

.btn--wide {
	display: block;
	margin: 3rem auto 0;
	max-width: 400px;
	text-align: center;
}

.c-btn--solutions,
.c-btn--products {
	width: 170px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
		color: darken(#fff, 10%);
	}
}

.c-btn--products {
	margin-left: 30px;

	@include bp('md') {
		margin: 20px 0 0;
	}
}
