// body
$container-width: 1600px;
$nav-height: 70px;
$mobile-pad: 20px;

//colors
$green-1: #82DDC9;
$green-2: #52C5AB;
$green-3: #31B094;
$green-4: #14A181;
$green-5: #048165;

$blue-1: #8BAEDE;
$blue-2: #5D8AC7;
$blue-3: #3D6FB3;
$blue-4: #2159A5;
$blue-5: #0F4084;
$blue-10: #041428;

$red-3: #FF8D47;
$red-4: #FF8D47; //good one
$red-5: #ff6d14;

$orange-1: #FAA71E;
$orange-2: #FFBA47;
$orange-3: #FAA71E;
$orange-4: #F0A01A;
$orange-5: #BB7809;

$gray-200: #F2F2F2;
$gray-300: #e6e6e6;
$gray-400: #d4d4d4;
$gray-475: #bababa;
$gray-500: #a3a3a3;
$gray-600: #363636;
$gray-700: #222222;


//fonts
$title: 'Poppins', sans-serif; //Montserrat or Raleway (skinny), Poppins detox titles
$copy: 'Lato', sans-serif;

/*********************
BREAKPOINTS
*********************/

 @mixin bp($point) {
   @if $point == lg {
     @media (max-width: 1200px) { @content ; }
  }
    @else if $point == md {
     @media (max-width: 768px) { @content ; }
  }
   @else if $point == sm {
     @media (max-width: 480px)  { @content ; }
  }
  @else if $point == xs {
     @media (max-width: 320px)  { @content ; }

  }
}


/*********************
Set Fonts
*********************/

body {
  font-family: $copy;
  background-color: #fff;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $title;
  color: $gray-400;
  margin-bottom: 2rem;
  line-height: 1.4;
}

h1 {
  font-size: 44px;
}

p {
  margin-bottom: 2rem;
}
