
.hamburger {
	display: none;

	@include bp('md') {
		width: 45px;
		height: 35px;
		position: relative;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		display: block;
	}

  &.open .hamburger__line {

		&:nth-child(1) {
			transform: rotate(45deg);
			top: 0;
			left: 8px;
		}

		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
			top: 32px;
			left: 8px;
		}
  }

}

.hamburger__line {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: $red-3;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;

	&:nth-child(1) {
		top: 0px;
		transform-origin: left center;
	}

	&:nth-child(2) {
		top: 15px;
		transform-origin: left center;
	}

	&:nth-child(3) {
		bottom: 0;
		transform-origin: left center;
	}
}
