.product {
	display: flex;
	flex-flow: row wrap;
}

.product__container {
	display: flex;
	padding: 64px;
	overflow: hidden;

	&:nth-child(1) {
		flex-basis: 100%;
		background-color: $orange-3;
		// background: linear-gradient(45 deg to left, rgba($orange-3, 1), rgba($orange-3, .7)), url(/img/product-openviz-2.png);
		// background-size: cover;

		.product__desc {
			background-color: rgba($orange-3, .9);
			position: relative;
			z-index: 2;
		}

		.product__text,
		.product__title {
			color: #fff
		}
	}

	&:nth-child(2) {
		flex-basis: 100%;
	}

	&:nth-child(3) {
		flex-basis: 100%;
	}

	&:nth-child(4) {
		flex-basis: 50%;
	}

	&:nth-child(5) {
		flex-basis: 50%;
	}
}

.product__desc {
	box-shadow: rgba(119,0,0,0.3) 0 1rem 3.6rem;
	padding: 32px;
	border-radius: 4px;
	flex-grow: 1;
	margin-right: 64px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.product__title {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 16px;
	color: #222;
}

.product__text {
	color: #222;
	font-weight: normal;
}

.product__img {
	max-width: 500px;
	align-self: center;
	transform: scale(2);
}
