.home {
	max-width: $container-width;
	margin: 70px auto 0;
}

.home__hero {
	// background-image: url('/img/hero-dark.png');
	background-size: cover;
	background-position: 50%;
	min-height: 500px;
	position: relative;
	display: flex;
	align-items: center;
	background-blend-mode: hue;
	background-image: url('/img/hero.jpg');

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(45deg, rgba($blue-10, 1), rgba($blue-10, .6));
	}
}

.home__hero-container {
	position: relative;
	z-index: 2;
	color: #fff;
	padding: 32px;
	border: 2px solid $gray-400;
	margin-left: 64px;
	outline: 10px solid rgba($blue-10, .9);
	background-color: rgba($blue-10, .9);

	@include bp('md') {
		margin-left: 0;
		padding: 16px;
		outline: 2px solid rgba($blue-10, .9);
	}
}

.home__hero-title {

}



.home__hero-text {
	font-size: 26px;
	margin-bottom: 3rem;
}

.home__about-us {
	padding: 64px;
	display: flex;
	background-color: $blue-10;

	@include bp('md') {
		padding: $mobile-pad;
	}
}

.home__about-us__img {

}

.home__about-us__container {
	max-width: 680px;
	margin: 0 auto;
	padding: 0 40px;
	border-left: 3px solid $blue-1;
	align-self: center;

	@include bp('md') {
		padding: $mobile-pad;
	}
}

.home__about-us__title {
	line-height: 1;
}

.home__about-us__subtitle {
	font-size: 22px;
	margin-bottom: 3rem;
	color: $blue-1;
}

.home__about-us__text {

}



.home__usp {
	background-color: #fff;
	color: $gray-700;
	padding: 64px;

	@include bp('md') {
		padding: $mobile-pad;
	}
}

 .home__usp-container {
	 display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
 }

.home__usp-half {
	flex-basis: 47%;
}

.home__usp-title {
	color: $gray-600;
	text-align: center;
	margin-bottom: 4rem;
}

.home__usp-subheader {
	font-size: 22px;
	margin-bottom: 3rem;
}

.home__usp-text {

}


.home__prototype {
	padding: 64px;
	text-align: center;
	color: $gray-700;

	@include bp('md') {
		padding: $mobile-pad;
	}
}

.home__prototype-title {
	color: $gray-600;
}

.home__prototype-subtitle {
	font-size: 22px;
	margin-bottom: 4rem;
}

.home__prototype-text {
	text-align: left;
	max-width: 800px;
	margin: 0 auto 6rem;
}
