.contact {
	background-color: $blue-5;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;

	@include bp(md) {
		padding: 102px 0;
	}
}

.contact__form {
	max-width: 650px;
}
